.grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  background-color: #b1afa4;
}

.photo-box {
  grid-column: 1/6;
  grid-row: 1/3;
  text-align: center;
  background-color: #304673;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.stored-dreams {
  background-color: #2a6973;
  grid-column: 1/1;
  grid-row: 3/9;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 0em;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.stored-dreams h3:hover {
  text-decoration: underline;
}
#pd-title {
  grid-column: 1/4;
  grid-row: 1/1;
  text-align: center;
}

.dream-title {
  grid-column: 1/4;
  grid-row: auto;
  margin: 1em;
  text-align: left;
}
.dream-theme {
  grid-column: 1/4;
  grid-row: auto;
  margin: 2em;
}
.dream-rating {
  grid-column: 1/4;
  grid-row: auto;
  margin: 2em;
}

.selected-dream {
  background: no-repeat;
  background-size: contain;
  opacity: 0.9;

  background-color: #736a25;

  grid-row: 3/6;
  grid-column: 2/6;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1em;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* .selected-dream>h3 {
    opacity: 1;
} */

#selected-title {
  padding: 1em;
  grid-column: 1/6;
}
#selected-theme {
  padding: 1em;
  grid-column: 1/1;
  grid-row: 1/1;
}
#selected-rating {
  padding: 1em;
  grid-column: 1/1;
  grid-row: 2/2;
  top: 0em;
}
#selected-details {
  padding: 1em;
  grid-column: 1/6;
  grid-row: auto;
}

#selected-image {
  padding: 1em;
  height: 15em;
}

.dream-form {
  position: relative;
  grid-row: 6/9;
  grid-column: 2/6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 3fr 1fr;
  grid-gap: 1em;
  background-color: #423673;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#dream-text-area {
  position: absolute;
  top: 50%;
  left: 57%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #73543c;
  color: white;
  opacity: 0.5;
  border: none;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#text-button {
  position: absolute;
  top: 7em;
  left: 8em;
  transform: translate(-50%, -50%);
  width: 8em;
  height: 3em;
  margin-top: 16em;
  background-color: #73543c;
  color: white;
  opacity: 0.9;
  border: none;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#title-entry {
  position: absolute;
  top: 7em;
  left: 8em;
  transform: translate(-50%, -50%);
  width: 11em;
  height: 3em;
  margin-top: -3em;
  background-color: #73543c;
  color: white;
  opacity: 0.5;
  border: none;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#rating-entry {
  position: absolute;
  top: 17em;
  left: 8em;
  transform: translate(-50%, -50%);
  width: 11em;
  height: 3em;
  margin-top: -8em;
  background-color: #73543c;
  color: white;
  opacity: 0.5;
  border: none;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#theme-entry {
  position: absolute;
  top: 12em;
  left: 8em;
  transform: translate(-50%, -50%);
  width: 11em;
  height: 3em;
  margin-top: 2em;
  background-color: #73543c;
  color: white;
  opacity: 0.5;
  border: none;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#image-entry {
  position: absolute;
  top: 22em;
  left: 8em;
  transform: translate(-50%, -50%);
  width: 11em;
  height: 3em;
  margin-top: -3em;
  background-color: #73543c;
  color: white;
  opacity: 0.5;
  border: none;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#relevant-image {
  grid-row: 6/9;
  grid-column: 2/6;
  height: 10em;
  width: 13em;
  margin-top: -1em;
}

.display-image {
  height: 10em;
  width: 13em;
}

.display-image-larger {
  height: 15em;
  width: 18em;
}
.stars {
  position: absolute;
  top: 10em;
  left: 2.5em;
  margin-top: -3em;
}

.stars .disabled {
  pointer-events: none;
}
.stars a.active {
  opacity: 100%;
}

.stars a {
  opacity: 50%;
  cursor: pointer;
  padding: 3px;
}
.stars:hover a {
  opacity: 100%;
}
.stars a:hover {
  opacity: 100%;
}
.stars a:hover ~ a {
  opacity: 50%;
}
